:root {
  --f1: 'kaushan_scriptregular';
  --f2: 'griphite_black_personal_useRg';
  --f3: 'art_studentmedium';
  --f4: 'cf_marie_everegular';
  --f5: 'lifelogo_hardregular';
  --f6: 'onebrushregular';
  --f7: 'parkway_lushregular';
  --f8: 'pw_brush_mebold';
  --f9: 'refresh_screenregular';
  --f10: 'wetpaintregular';
  --f11: 'tenali_ramakrishnaregular';
  --c1: rgb(90, 103, 107);
  --c2: rgb(70, 83, 97);
  --c3: rgb(60, 83, 97);
  --c4: rgb(60, 73, 97);
  --c5: rgb(60, 73, 87);
  --c6: #2E3844;
  --c21: rgb(70, 79, 92);
  --c22: rgb(67, 75, 87);
  --c01: rgb(171, 195, 203);
  --c02: #B1EBE7;
}

.bg-mine {
  background-color: var(--c2);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .8);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.95);
}

body {
  background-color: rgb(90, 103, 107);
  color: ghostwhite;
}

img {
  filter: brightness(90%) contrast(115%) opacity(67%) grayscale(0%);
  /* filter: contrast(70%) */
  /* filter: opacity(10%); */
}

/**********TOP NAV INSERT*********************/

.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  opacity: 90%;
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: stretch;
}

.topnav a {
  flex: 1;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fa9403;
  color: black;
}

.active {
  background-color: #0485b1;
  color: #fa9403;
}

.topnav .icon {
  display: none;
}

/***********TOP NAV INSERT ***********END*****/

.main-top {
  font-family: "futura-pt";
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  margin: 0;
  min-height: 100vh;
  background: url("../images/screenPrintHands70.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-top {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 53%;
  box-sizing: border-box;
  transform: translatey(-50%);
  left: 30px;
  right: 30px;
  width: auto;
  margin: 0 auto;
  max-width: 1880px;
  max-height: 100vh;
}

#page-header {
  /* font-family: 'kaushan_scriptregular'; */
  /* font-family: 'griphite_black_personal_useRg'; */
  font-family: var(--f1);
  max-width: 880px;
  font-size: 8vw;
  text-transform: uppercase;
  letter-spacing: 0.0em;
  font-weight: 500;
  font-style: normal;
  /* color: #fff; */
  line-height: 1em;
  margin-top: 0em;
  display: inline-block;
  /* background-color: rgba(0,0,0,0.02);
    border-radius: 55px; */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  padding-left: 0.2em;
  padding-right: .15em;
  padding-bottom: 1px;
  margin-bottom: 18px;
}

h2 {
  max-width: 1800px;
  /* text-rendering: optimizeLegibility; */
  text-align: center;
  margin: 0;
  margin-top: -0.4em;
  margin-bottom: 0em;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0em;
  font-family: var(--f5);
  font-size: 5vw;
  line-height: 1.2em;
  text-transform: none;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0,0,0,0.3); */
  /* color: #fff; */
  display: inline-block;
}

.push-left {
  padding-right: 1.5em;
}

.push-right {
  padding-left: 1.5em;
}

.extra {
  padding: 1px;
}

.text-content {
  /* background-color: rgba(0,0,0,0.1); */
  padding-left: 0 0.02em;
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: rgba(0,0,0,0.2); */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
  padding-right: 0.02em;
  max-width: 50%;
  margin: auto;
  font-size: 2.5em;
  border-radius: 15px;
  margin-left: 1px;
  margin-right: 1px;
  margin: auto;
  line-height: 1.4em;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-family: var(--f11);
}

.company-name {
  font-family: var(--f1);
  text-transform: uppercase;
}

.mail {
  margin-top: 1em;
}

.mail a {
  padding: 1.15em 1.5em 1.15em 1.55em;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  /* margin-left: 0; */
  transition: color 170ms ease-in-out;
  border-color: 170ms ease-in-out;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-style: normal;
}

.mail a:hover {
  background-color: ghostwhite;
  color: rgb(70, 70, 70);
}

.three-box-grid {
  margin: auto;
  display: grid;
  background-color: var(--c01);
  padding: 10px;
  grid-template-areas: "header header header" "left middle right";
  grid-gap: 10px;
}

.three-box-grid h3 {
  /* color: red; */
  font-size: 2.5em;
  font-family: var(--f1);
  text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.9);
}

.three-box-grid ul {
  /* color: red; */
  font-family: var(--f7);
  font-weight: bolder;
  font-size: 35px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.9);
  text-align: center;
}

.two-box-grid {
  display: grid;
  background-color: var(--c01);
  padding: 10px;
  grid-template-areas: "left middle";
  grid-gap: 10px;
}

.grid-box-1, .grid-box-2, .grid-box-3 {
  padding: 10px;
  height: 300px;
  text-align: center;
  border-radius: 5px;
  background-color: black;
}

.grid-box-1 {
  grid-area: left;
  background-color: var(--c21);
}

/*NOTE NEW*/

.three-box-grid>.grid-box-1 {
  background: url("../../assets/pics/screen-printing-ink-prints-70.png") center/cover no-repeat;
  color: ghostwhite;
  text-shadow: 4px 3px 2px black;
  /* font-size: 2.5em;
  text-align: center; */
}

.grid-box-2 {
  grid-area: middle;
  background-color: var(--c21);
  line-height: 3.1em;
}

.three-box-grid>.grid-box-2 {
  color: ghostwhite;
  text-shadow: 4px 3px 2px black;
  /* font-size: 2.5em;
  text-align: center; */
}

.three-box-grid>.grid-box-2 .inner {
  background: url("../../assets/pics/marketing2.png") center/cover no-repeat;
}

.grid-box-3 {
  grid-area: right;
  background-color: var(--c21);
}

.three-box-grid>.grid-box-3 {
  background: url("../../assets/pics/printEquipMontage-80.png") center/cover no-repeat;
  color: ghostwhite;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.grid-header {
  grid-area: header;
  background-color: var(--c6);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  border-radius: 5px;
}

.grid-header a {
  text-decoration: none;
  font-family: var(--f1);
  color: ghostwhite;
  text-shadow: 4px 3px 2px black;
}

.grid-header a:hover {
  color: var(--c01)
}

.grid-header a:active {
  color: orange;
}

.grid-box-1 h3 {}

/* .grid-header a:visited {
  color: var(--c02)
} */

.company-manifesto {
  background-color: var(--c01);
  border-right: 10px solid var(--c01);
  border-left: 10px solid var(--c01);
  /* border-right: 50px solid red; */
  padding: 0px;
  /* border-radius: 20px; */
  /* background-clip: padding-box; */
  /* background-clip: border-box; */
  /* background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
  /* background-clip: content-box */
}

.inner {
  background-color: var(--c6);
  padding: 10px;
  border-radius: 5px;
  ;
}

.company-manifesto>h3 {
  text-transform: uppercase;
  font-family: var(--f1);
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.telephone {
  text-decoration: none;
  color: rgb(200, 200, 200);
}

.footer {
  background-color: var(--c2);
  border-right: 10px solid var(--c01);
  border-left: 10px solid var(--c01);
  border-top: 5px solid var(--c01);
  border-bottom: 2px solid var(--c01);
  margin: 0;
  text-align: center;
  /* border-radius: 55px; */
  background-color: var(--c01);
  border-right: 10px solid var(--c01);
  border-left: 10px solid var(--c01);
  /* border-right: 50px solid red; */
  padding: 0px;
  /* border-radius: 20px; */
  /* background-clip: padding-box; */
  /* background-clip: border-box; */
  /* background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
  /* background-clip: content-box */
}

.inner {
  background-color: var(--c6);
  padding: 10px;
  border-radius: 5px;
  ;
}

.main {
  max-width: 1200px;
  margin: auto;
  overflow-x: hidden;
}

.contact-us {
  background-color: var(--c01);
  border-right: 10px solid var(--c01);
  border-left: 10px solid var(--c01);
  /* border-right: 50px solid red; */
  padding: 0px;
}

.form-container {
  background-color: var(--c6);
  padding: 10px;
  border-radius: 5px;
  display: grid;
  padding: 10px;
  grid-template-areas: "header header" "contact message" "submit-it submit-it";
  grid-gap: 10px;
  border-radius: 5px;
}

.form-title {
  padding-top: 10px;
  grid-area: header;
}

/*NOTE now*/

.form-user-contact {
  grid-area: contact;
  display: grid;
  grid-template-areas: "name" "email" "phone";
  margin: auto;
  grid-gap: 20px;
}

.form-message {
  grid-area: message;
  display: grid;
  margin-top: -20px;
  margin-bottom: 20px;
  /* grid-template-areas: "message-box";
  margin: auto;
  grid-gap: 20px; */
  /* background-color: rgb(250, 100, 80); */
}

/* .subject-outer {
  grid-area: message-box;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  
} */

textarea {
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;
  height: 100%;
  box-sizing: border-box;
}

/* .form-message textarea {
  height: 100%;
  width: 80%;
} */

.form-name {
  grid-area: name;
  /* background-color: orange; */
}

.form-email {
  grid-area: email;
  background-color: orangered;
}

.form-phone {
  grid-area: phone;
  background-color: lightcoral;
}

.form-submit {
  grid-area: submit-it;
  justify-self: center;
  display: grid;
  grid-template-areas: "top" "bottom";
}

.navbar-brand {
  font-family: var(--f1);
  font-size: 1.7em
}

.smaller {
  font-size: .8em;
}

.no-decoration {
  margin: auto;
  list-style-type: none;
  text-align: left;
}

#map {
  width: 100%;
  height: 80%;
  background-color: red;
}

.no-show {
  visibility: hidden;
}

/*******@MEDIA**********************************/

/********************LANDSCAPE*******************/

@media screen and (orientation: landscape) {
  .main-top {
    font-family: "futura-pt";
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin: 0;
    min-height: 100vh;
    background: url("../images/screenPrintHands70.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div-top {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 55%;
    box-sizing: border-box;
    transform: translatey(-50%);
    left: 5px;
    right: 5px;
    width: auto;
    margin: 0 auto;
    max-width: 1880px;
    max-height: 100vh;
  }
  #page-header {
    /* font-family: 'kaushan_scriptregular'; */
    /* font-family: 'griphite_black_personal_useRg'; */
    font-family: var(--f1);
    max-width: 1680px;
    font-size: vw;
    text-transform: uppercase;
    letter-spacing: 0.0em;
    font-weight: 500;
    font-style: normal;
    /* color: #fff; */
    line-height: 1em;
    margin-top: 0em;
    display: inline-block;
    /* background-color: rgba(0,0,0,0.02);
    border-radius: 55px; */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    padding-left: 0.2em;
    padding-right: .15em;
    padding-bottom: 1px;
    margin-bottom: 18px;
  }
  h2 {
    max-width: 1800px;
    /* text-rendering: optimizeLegibility; */
    text-align: center;
    margin: 0;
    margin-top: -0.4em;
    margin-bottom: 0em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0em;
    font-family: var(--f5);
    font-size: 4vw;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: 0.06em;
    font-weight: 500;
    font-style: normal;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0,0,0,0.3); */
    /* color: #fff; */
    display: inline-block;
  }
  .push-left {
    padding-right: 1.5em;
  }
  .push-right {
    padding-left: 1.5em;
  }
  .extra {
    padding: 1px;
  }
  .text-content {
    /* background-color: rgba(0,0,0,0.1); */
    padding-left: 0 0.02em;
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: rgba(0,0,0,0.2); */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
    padding-right: 0.02em;
    max-width: 90%;
    margin: auto;
    font-size: 2.5em;
    border-radius: 15px;
    margin-left: 1px;
    margin-right: 1px;
    margin: auto;
    line-height: 1.0em;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-family: var(--f11);
  }
  .mail {
    margin-top: 1em;
  }
  .mail a {
    padding: 1.15em 1.5em 1.15em 1.55em;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #fff;
    /* margin-left: 0; */
    transition: color 170ms ease-in-out;
    border-color: 170ms ease-in-out;
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
    font-style: normal;
  }
  .mail a:hover {
    background-color: ghostwhite;
    color: rgb(70, 70, 70);
  }
  @media only screen and (max-width: 850px) {
    #page-header {
      font-size: 7vw;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: -15px;
    }
    h2 {
      font-size: 2.5vw
    }
    .text-content {
      font-size: 18px;
      ;
    }
  }
  @media only screen and (max-width:750px) {
    #page-header {
      font-size: 5vw;
    }
    #summary {
      font-size: 2vw;
    }
    .text-content {
      font-size: 20px;
      ;
    }
  }
  @media only screen and (max-width: 650px) {
    #page-header {
      font-size: 5vw;
    }
    #summary {
      font-size: 2vw;
    }
    .text-content {
      font-size: 20px;
      ;
    }
  }
  @media only screen and (max-width: 600px) {
    #page-header {
      font-size: 5vw;
    }
    #summary {
      font-size: 2vw;
    }
    .text-content {
      font-size: 15px;
      ;
    }
  }
}

/**********AT MEDIA ORIENTATION LANDSCAPE END*****/

@media screen and (orientation: portrait) {
  @media only screen and (max-width: 900px) {
    .text-content {
      max-width: 70%;
    }
  }
  @media only screen and (max-width: 755px) {
    #page-header {
      font-size: 7vw;
      margin-left: 40px;
      margin-right: 40px;
    }
    h2 {
      font-size: 4.5vw
    }
    .text-content {
      font-size: 1.3em;
    }
    .div-top {
      left: 10px;
      right: 10px;
    }
  }
  @media only screen and (max-width: 650px) {
    #page-header {
      font-size: 12vw;
      margin-left: 40px;
      margin-right: 40px;
    }
    h2 {
      font-size: 5vw
    }
    .text-content {
      line-height: 1.2em;
    }
    #exposition {
      font-size: 1.3em;
    }
  }
  @media only screen and (max-width: 600px) {
    .three-box-grid {
      grid-template-areas: "header" "left" "middle" "right";
    }
    .two-box-grid {
      grid-template-areas: "left" "middle";
    }
    .form-container {
      display: flex;
      flex-basis: 320px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .form-title {
      flex-grow: 1;
      width: 100%;
    }
    .form-user-contact {
      flex: 1fr;
      width: 70%;
    }
    input {
      width: 100%;
    }
    .form-message {
      min-width: 300px;
      min-height: 150px;
      width: 100%;
      display: grid;
      grid-template-areas: "message-box";
      margin: auto;
      grid-gap: 20px;
    }
    .subject-outer {
      grid-area: message-box;
      margin: auto;
      width: 100%;
      ;
    }
    p {
      text-align: center;
    }
    .form-submit {
      flex: 1fr;
    }
  }
  @media only screen and (max-width: 500px) {
    .text-content {
      font-size: 13px;
    }
  }
}

/*
@media only screen and (max-width: 550px) {
  /* h2 {
    font-size: 12vw;
    color: red;
  }
  #page-header {
    font-size: 6vw;
    color: orange;
  } */

}

/* 
@media only screen and (max-width: 400px) {
  body {
    font-size: 1.2em;
  }
  .text-content {
    max-width: 80%;
    font: red;
  }
  h2 {}
  .topnav {
    flex-wrap: wrap;
  }
  .topnav>a {
    flex: 1 1;
  }
  .mail {
    margin-top: 1.5em;
  }
  #exposition {
    color: blue;
    font-size: 4.5vw;
    line-height: 1.5em;
  }
  #summation {
    font-size: 10vw;
  }
  #page-header {
    font-size: 7vw;
    margin-bottom: 14px;
  }
} */

/* 
Offset Printing 
Digital Printing 
Screen Printing 
Promotional Products /Advertising Specialties T-Shirts/Athletic Apparel 
Labels 
Yard Signs & Banners 
Wide Format Printing */